<div class="mt-6 flex flex-col md:flex-row md:items-start">
    <div class="flex-auto">
      <div class="card">
        <div class="px-gutter py-4 border-b"
        [ngStyle]="{ 'background-color': getBackgroundColor(cooperadora?.estado) }">
          <h2 class="title m-0">Detalles</h2>
        </div>
  
        <div class="px-gutter py-4 grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div class="py-3 flex items-center">
            <div @scaleIn
                 class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
              <mat-icon class="icon-sm" svgIcon="mat:event_note"></mat-icon>
            </div>
  
            <div @fadeInRight>
              <p class="m-0 body-1">LEGAJO: </p>
              <p class="m-0 caption text-hint">{{cooperadora?.legajo}}</p>
            </div>
          </div>
  
          <div class="py-3 flex items-center">
            <div @scaleIn
                 class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
              <mat-icon class="icon-sm" svgIcon="mat:business"></mat-icon>
            </div>
  
            <div @fadeInRight>
              <p class="m-0 body-1">INSTITUCIÓN: </p>
              <p class="m-0 caption text-hint">{{cooperadora?.organizacion_r_u_c_e?.organizacionDesc}}</p>
            </div>
          </div>
  
          <div class="py-3 flex items-center">
            <div @scaleIn
                 class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
              <mat-icon class="icon-sm" svgIcon="mat:event_note"></mat-icon>
            </div>
  
            <div @fadeInRight>
              <p class="m-0 body-1">CUIT: </p>
              <p class="m-0 caption text-hint">{{cooperadora?.cuit}}</p>
            </div>
          </div>
  
          <div class="py-3 flex items-center">
            <div @scaleIn
                 class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
              <mat-icon class="icon-sm" svgIcon="mat:event_note"></mat-icon>
            </div>
  
            <div @fadeInRight>
              <p class="m-0 body-1">TIPO DE ASOCIACIÓN: </p>
              <p class="m-0 caption text-hint">{{cooperadora.ref_tipo_asociacion?cooperadora.ref_tipo_asociacion[0].tipoAsociacionDesc:0}}</p>
            </div>
          </div>

          <div class="py-3 flex items-center">
            <div @scaleIn
                 class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
              <mat-icon class="icon-sm" svgIcon="mat:done"></mat-icon>
            </div>
  
            <div @fadeInRight>
              <p class="m-0 body-1">ESTADO ACTUAL: </p>
              <p class="m-0 caption text-hint">{{cooperadora?.estado}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="card max-w-unset md:max-w-xs w-full flex-none md:ltr:ml-6 md:rtl:mr-6 mt-6 md:mt-0">
      <div class="px-6 py-4 border-b">
        <h2 class="title m-0">Datos de contacto</h2>
      </div>
      <div class="px-gutter py-4 grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="py-3 flex items-center">
            <div @scaleIn
                class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <mat-icon class="icon-sm" svgIcon="mat:access_time"></mat-icon>
            </div>

            <div @fadeInRight>
            <p class="m-0 body-1">E-MAIL: </p>
            <p class="m-0 caption text-hint"></p>
            </div>
        </div>

        <div class="py-3 flex items-center">
            <div @scaleIn
                class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <mat-icon class="icon-sm" svgIcon="mat:access_time"></mat-icon>
            </div>

            <div @fadeInRight>
            <p class="m-0 body-1">TELEFONO: </p>
            <p class="m-0 caption text-hint"></p>
            </div>
        </div>
    </div>
    </div>
  </div>