<vex-secondary-toolbar current="Detalle de Kiosco">
    <!-- <vex-breadcrumbs [crumbs]="['Ámbitos', 'Nuevo']" class="flex-auto"></vex-breadcrumbs> -->
    <vex-breadcrumbs *ngIf="accion==='add'" [crumbs]="['Kiosco', 'Nuevo']" class="flex-auto"></vex-breadcrumbs>
    <vex-breadcrumbs *ngIf="accion==='edit'" [crumbs]="['Kiosco', 'Modificar']" class="flex-auto"></vex-breadcrumbs>
    <vex-breadcrumbs *ngIf="accion==='delete'" [crumbs]="['Kiosco', 'Eliminar']" class="flex-auto"></vex-breadcrumbs>
    
    <button class="ml-2" color="primary" mat-icon-button type="button">
        <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>
</vex-secondary-toolbar>
<div class="p-gutter container">
    <div class="flex flex-col sm:flex-row gap-4">
        <div class="card flex-auto">
            <div class="px-6 py-4 border-b flex items-center justify-center">
                <!-- <h2 class="title m-0">Formulario</h2> -->
                <h2 class="title m-0" *ngIf="accion==='add'">Formulario Alta de Kiosco de la Cooperadora</h2>
                <h2 class="title m-0" *ngIf="accion==='edit'">Formulario Modificación de Kiosco de la Cooperadora</h2>
                <h2 class="title m-0" *ngIf="accion==='delete'">Formulario Eliminación de Kiosco de la Cooperadora</h2>
            </div>
    <div class="px-6 py-4 flex flex-col">
    <form autocomplete="off" [formGroup]="formularioKiosco">
        <div class="formuario">
            <div class="flex flex-col md:flex-row gap-3">                
                <mat-form-field style="width: 100%">
                    <mat-label>Tipo de Documento</mat-label>
                    <mat-select formControlName="fkRefTipoDocumentoRUCE">
                        <mat-option>Seleccione</mat-option>
                        <mat-option *ngFor="let item of tiposDocumentos" [value]="item?.id">{{item?.tipoDocumentoDesc}}</mat-option>
                    </mat-select>
                    <mat-error>
                        <app-ver-error [control]="this.formularioKiosco.controls['fkRefTipoDocumentoRUCE']"></app-ver-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 100%">
                    <mat-label>Documento</mat-label>
                    <input matInput formControlName="documento" type="text" espacios solonum>
                    <mat-error>
                        <app-ver-error [control]="this.formularioKiosco.controls['documento']">
                        </app-ver-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 100%">
                    <mat-label>Cuil</mat-label>
                    <input matInput formControlName="cuil" type="text" espacios solonum>
                    <mat-error>
                        <app-ver-error [control]="this.formularioKiosco.controls['cuil']">
                        </app-ver-error>
                    </mat-error>
                </mat-form-field>
            </div>
        
            <div class="flex flex-col md:flex-row gap-3">
                <mat-form-field style="width: 100%">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" type="text" espacios mayus>
                    <mat-error>
                        <app-ver-error [control]="this.formularioKiosco.controls['nombre']">
                        </app-ver-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 100%">
                    <mat-label>Apellido</mat-label>
                    <input matInput formControlName="apellido" type="text" espacios mayus>
                    <mat-error>
                        <app-ver-error [control]="this.formularioKiosco.controls['apellido']">
                        </app-ver-error>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="flex flex-col md:flex-row gap-3">
                <mat-form-field style="width: 100%">
                    <mat-label>Telefono</mat-label>
                    <input matInput formControlName="telefono" type="tel" solonum pattern="[0-9]{10}" placeholder="Ingrese numero sin 0 ni 15 ej: 3881234567">
                    <mat-error>
                        <app-ver-error [control]="this.formularioKiosco.controls['telefono']">
                        </app-ver-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 100%">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="text" espacios mayus >
                    <mat-error>
                        <app-ver-error [control]="this.formularioKiosco.controls['email']">
                        </app-ver-error>
                    </mat-error>
                </mat-form-field> 
            </div>
            <div class="flex flex-col md:flex-row gap-3">
                <mat-form-field style="width: 100%">
                    <mat-label>Inicio de Periodo</mat-label>
                    <input matInput formControlName="periodoInicio" type="date" espacios mayus>
                    <mat-error>
                        <app-ver-error [control]="this.formularioKiosco.controls['periodoInicio']">
                        </app-ver-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 100%">
                    <mat-label>Fin de Periodo</mat-label>
                    <input matInput formControlName="periodoFin" type="date" espacios mayus>
                    <mat-error>
                        <app-ver-error [control]="this.formularioKiosco.controls['periodoFin']">
                        </app-ver-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="flex flex-col md:flex-row gap-3">
                <div class="slide-group">
                    <mat-slide-toggle color="accent" formControlName="accesoLicitacion" [checked]="false" class="p-4"></mat-slide-toggle>
                    <mat-label>Acceso con Licitacion</mat-label>
                </div>
                <div class="slide-group">
                    <mat-slide-toggle color="accent" formControlName="documentacionPresentada" [checked]="false" class="p-4"></mat-slide-toggle>
                    <mat-label>Documentacion Presentada</mat-label>
                </div>
            </div>
        </div>
        <br>
        <br>
        <!-- <div class="mt-5 flex flex-col md:flex-row gap-3">     -->
            <app-button-group class="mt-5" type="button" (cancel)="cancel()" (delete)="eliminar()" (submit)="save()" [accion]="accion"></app-button-group>
        <!-- </div> -->
        </form>
        </div>
    </div>
</div>
</div>