<div class="p-gutter container">
  <div class="card p-16">

    <div class="grid-p">
      <div>
        <img class="h-10" src="/assets/img/logo-ruce/logo_energia_viva.png">
      </div>
    
      <div class="text-center body-1 flex flex-col items-center">
        <div class="text-center body-1 flex flex-col items-center">
          <h4 class="body-2 m-0">MINISTERIO DE EDUCACION</h4>
          <h4 class="body-2 m-0">SECRETARIA DE EQUIDAD EDUCATIVA</h4>
          <h4 class="body-2 m-0">DIRECCION DE BIENESTAR ESTUDIANTIL Y DOCENTE</h4>
          <h4 class="body-2 m-0">Registro Único de Cooperadoras Escolares (RUCE)</h4>
        </div>
      </div>
      
      <div style="text-align: right;">
        <img class="h-10" src="/assets/img/logo-ruce/logo-bienestar.jpeg">
      </div>
    </div>

    <table class="table w-full  mat-elevation-z3 rounded">
      <tbody>
        <tr>
          <td class="py-2 border-b">
            <div class="text-center body-1 title">
              ASOCIACIÓN COOPERADORA {{cooperadora?.denominacion}}
            </div>
          </td>
        </tr>

      <tr>
        <td class="py-2 border-b">
          <div class="">Establecimiento Educativo:</div>
          <div class="text-center body-1 title">{{cooperadora?.organizacion_r_u_c_e?.organizacionDesc}}</div>
        </td>
      </tr>

      <tr>
        <td class="py-2 border-b">
          <div class="">Director/a: </div>
          <div class="ml-24">{{directorInst}}</div>
        </td>
      </tr>
      </tbody>
    </table>

    <table class="table w-full mt-1 mat-elevation-z3 rounded">
      <tbody>
        <tr>
          <td class="py-2 border-b">
            <div class=" body-1 title">
              Datos de la intitución
            </div>
          </td>
        </tr>

      <tr>
        <td class="py-2 border-b">
          <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
            <div class="flex items-center">    
              <div>
                <p class="body-1">REGION: </p>
                <p class="body-1 title ml-16">{{ cooperadora?.organizacion_r_u_c_e?.region }}</p>
              </div>
            </div>
            <div class="flex items-center">    
              <div>
                <p class="body-1">CUE ANEXO: </p>
                <p class="body-1 title ml-16">{{ cooperadora?.organizacion_r_u_c_e?.cue }}</p>
              </div>
            </div>
            <div class="flex items-center">    
              <div>
                <p class="body-1">NIVEL: </p>
                <p class="body-1 title ml-16">{{ cooperadora?.organizacion_r_u_c_e?.nivel }}</p>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td class="py-2 border-b">
          <div class="px-gutter grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div class="flex items-center">    
              <div class="p-3">
                <p class="body-1">DOMICILIO: </p>
                <p class="body-1 title ml-16">{{ cooperadora?.organizacion_r_u_c_e?.domicilio }}</p>
              </div>
            </div>
            <div class="flex items-center">    
              <div class="p-3">
                <p class="body-1">LOCALIDAD: </p>
                <p class="body-1 title ml-16">{{ cooperadora?.organizacion_r_u_c_e?.localidad }}</p>
              </div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <table class="table w-full mt-1 mat-elevation-z3 rounded">
      <tbody>
        <tr>
          <td class="py-2 border-b">
            <div class=" body-1 title">
              Fiscalía de Estado - Coordincaión de Personas Jurídicas
            </div>
          </td>
        </tr>

      <tr>
        <td class="py-2 border-b">
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div class="flex items-center">    
              <div class="ml-10 p-3">
                <p class="body-1">FECHA DE CREACIÓN DE LA ASOCIACIÓN: </p>
                <p class="body-1 title ml-16">{{ cooperadora?.organizacion_r_u_c_e?.region }}</p>
              </div>
            </div>
            <div class="flex items-center">    
              <div class="ml-10 p-3">
                <p class="body-1">EXPEDIENTE: </p>
                <p class="body-1 title ml-16">{{ cooperadora?.expediente?.nroExpediente }}</p>
              </div>
            </div>
            <div class="flex items-center">    
              <div class="ml-10 p-3">
                <p class="body-1">LEGAJO: </p>
                <p class="body-1 title ml-16">{{ cooperadora?.legajo }}</p>
              </div>
            </div>
            <div class="flex items-center">    
              <div class="ml-10 p-3">
                <p class="body-1">DECRETO: </p>
                <p class="body-1 title ml-16">{{ cooperadora?.personeria?.decreto }}</p>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <div class="py-2 body-1 text-center">
        Comisión vigente desde {{tableData[0]?.periodoInicio}} hasta {{tableData[0]?.periodoFin}}
      </div>
      <mat-table [dataSource]="tableData" class="container">
        <!-- Columnas de la tabla -->
        <ng-container matColumnDef="cargo">
          <mat-header-cell *matHeaderCellDef>CARGO</mat-header-cell>
          <mat-cell *matCellDef="let tableData">{{ tableData.cargo }}</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="apellido">
          <mat-header-cell *matHeaderCellDef>APELLIDO</mat-header-cell>
          <mat-cell *matCellDef="let tableData">{{ tableData.apellido }}</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef>NOMBRES</mat-header-cell>
          <mat-cell *matCellDef="let tableData">{{ tableData.nombre }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cuil">
          <mat-header-cell *matHeaderCellDef>CUIL</mat-header-cell>
          <mat-cell *matCellDef="let tableData">{{ tableData.cuil }}</mat-cell>
        </ng-container>
      
        <!-- Define las columnas que deseas mostrar -->
        <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnas"></mat-row>
      </mat-table>
      <tr>
        <td class="py-2 border-b">
          <div class="px-gutter grid grid-cols-1 sm:grid-cols-1 gap-4">
            <div class="flex items-center">    
              <div class="p-2">
                <p class="body-1 text-justify">Se extiende la presente constancia a fin de acreditar la existencia
                  y reconocimiento de la Asociación Civil Cooperadora Escolar, para ser presentada ante 
                las autoridades de AFIP (Artículo 2 segundo párrafo de la Resolución General N° 4739/2020) </p>
              </div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
