<div class="card border-b">
    <div class="px-gutter py-4 grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="py-1 flex items-center">
            <div class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                <mat-icon class="icon-sm" svgIcon="mat:supervisor_account"></mat-icon>
            </div>
            <div>
                <p class="m-0 caption text-hint">COMISION: {{comision.fkRefTipoComision?.tipoComisionDesc}}</p>
            </div>
        </div>
        <div class="py-1 flex items-center">
            <div class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                <mat-icon class="icon-sm" svgIcon="mat:perm_identity"></mat-icon>
            </div>
            <div>
                <p class="m-0 caption text-hint">NRO SOCIOS: {{comision.nroSocios}}</p>
            </div>
        </div>
        <div class="py-1 flex items-center">
            <div class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                <mat-icon class="icon-sm" svgIcon="mat:date_range"></mat-icon>
            </div>
            <div>
                <p class="m-0 caption text-hint">PERIODO: {{comision.periodoInicio}} - {{comision.periodoFin}}</p>
            </div>
        </div>
        <div class="py-1 flex items-center">
            <div class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                <mat-icon class="icon-sm" svgIcon="mat:event_note"></mat-icon>
            </div>

            <div>
                <p class="m-0 body-1"><label><b></b></label></p>
                <p class="m-0 caption text-hint">Resolucion: {{comision.estadoResolucion}}</p>
            </div>
        </div>
    </div>
</div>

<vex-aio-table [columns]="columnasVex" [sourceService]="autoridadService" [filter]="filtro" [ruta]="'cooperadora/'+idCooperadora+'/comision/'+idComision+'/autoridades/'" [nombreTabla]="'Autoridades de la comisión'" [cabecera]="false">
    <app-input-search *ngIf="!deshabilitarCarga" espacio1></app-input-search>
    <app-search-button-generic *ngIf="!deshabilitarCarga" espacio2 [searchOptions]="searchOptions"></app-search-button-generic>
    <app-button-nuevo *ngIf="!deshabilitarCarga" bordederecho [routerLink]="'cooperadoras/'+idCooperadora+'/comision/'+idComision+'/autoridades/'" [addRowText]="'Agregar Autoridad'"></app-button-nuevo>
</vex-aio-table>
