<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>SIARH WEB</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/home">INICIO</button>
  
  <button mat-button [matMenuTriggerFor]="organismos">ORGANIZACIÓN</button>
  <mat-menu #organismos="matMenu">
    <button mat-menu-item routerLink="/pages/refambito">Ámbitos</button>
    <button mat-menu-item routerLink="/pages/refasignatura">Asignaturas</button>
    <button mat-menu-item routerLink="/pages/campoformacion">Campos de Formación</button>
    <button mat-menu-item routerLink="/pages/refcategoriaorganizacion">Cat. Organización</button>
    <button mat-menu-item routerLink="/pages/refdependenciafuncional">Dependencias Funcionales</button>
    <button mat-menu-item routerLink="/pages/desarrollocursado">Desarrollo de Cursado</button>
    <button mat-menu-item routerLink="/pages/refespecialidad">Especialidades</button>
    <button mat-menu-item routerLink="/pages/refestadoedificio">Estados de Edificio</button>
    <button mat-menu-item routerLink="/pages/refestadoorganizacion">Estados de Organización</button>
    <button mat-menu-item routerLink="/pages/refgruponivel">Grupos de Nivel</button>
    <button mat-menu-item routerLink="/pages/refjornada">Jornadas</button>
    <button mat-menu-item routerLink="/pages/refmodalidaddictado">Modalidades de Dictado</button>
    <button mat-menu-item routerLink="/pages/refmotivoinstlegalpe">Motivos Inst. Legal - PE</button>
    <button mat-menu-item routerLink="/pages/refniveleducativo">Niveles Educativos</button>
    <button mat-menu-item routerLink="/pages/refregimenespcu">Regimenes de Esp Curricular</button>
    <button mat-menu-item routerLink="/pages/refregion">Regiones</button>
    <button mat-menu-item routerLink="/pages/refsector">Sectores</button>
    <button mat-menu-item routerLink="/pages/refsistemaeducativo">Sistemas Educativos</button>
    <button mat-menu-item routerLink="/pages/refsubvencion">Subvenciones</button>
    <button mat-menu-item routerLink="/pages/reftipocontacto">Tipos de Contacto</button>
    <button mat-menu-item routerLink="/pages/reftipocooperadora">Tipos de Cooperadora</button>
    <button mat-menu-item routerLink="/pages/reftipoedificio">Tipos de Edificios</button>
    <button mat-menu-item routerLink="/pages/reftipoeducacion">Tipos de Educación</button>
    <button mat-menu-item routerLink="/pages/reftipoespaciocurricular">Tipos de Espacios Curriculares</button>
    <button mat-menu-item routerLink="/pages/reftipoorganizacion">Tipos de Organización</button>
    <button mat-menu-item routerLink="/pages/reftipopermanencia">Tipos de Permanencia</button>
    <button mat-menu-item routerLink="/pages/reftipoperiodoescolar">Tipos de Período Escolar</button>
    <button mat-menu-item routerLink="/pages/reftipotenencia">Tipos de Tenencia</button>
    <button mat-menu-item routerLink="/pages/refturno">Turnos</button>
    <button mat-menu-item routerLink="/pages/refzona">Zonas</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="pof">POF</button>
  <mat-menu #pof="matMenu">
    <button mat-menu-item routerLink="/pages/refadicional">Adicionales</button>
    <button mat-menu-item routerLink="/pages/refafectacion">Afectaciones</button>
    <button mat-menu-item routerLink="/pages/refejercicio">Ejercicios</button>
    <button mat-menu-item routerLink="/pages/refescalafon">Escalafones</button>
    <button mat-menu-item routerLink="/pages/refestadoplaza">Estados plaza</button>
    <button mat-menu-item routerLink="/pages/reffinalidad">Finalidades</button>
    <button mat-menu-item routerLink="/pages/reffinalidadxejer">Finalidades por Ejerc.</button>
    <button mat-menu-item routerLink="/pages/reffinanciamiento">Financiamientos</button>
    <button mat-menu-item routerLink="/pages/reffuncion">Funciones</button>
    <button mat-menu-item routerLink="/pages/reffuncionxejer">Funciones por Ejerc.</button>
    <button mat-menu-item routerLink="/pages/refmotivobaja">Motivos de Baja</button>
    <button mat-menu-item routerLink="/pages/refmotivocreacion">Motivos de Creación</button>
    <button mat-menu-item routerLink="/pages/refsubestadoplaza">Subestados Plazas</button>
    <button mat-menu-item routerLink="/pages/reftemporalidad">Temporalidades</button>
    <button mat-menu-item routerLink="/pages/reftipofuncion">Tipos de Funciones</button>
    <button mat-menu-item routerLink="/pages/reftitulohabilitante">Títulos Habilitantes</button>
    <button mat-menu-item routerLink="/pages/refudeo">UdeO</button>
    <button mat-menu-item routerLink="/pages/refudeoxejer">UdeO por Ejercicio</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="lu">LU</button>
  <mat-menu #lu="matMenu">
    <button mat-menu-item routerLink="/pages/refcalendarioferiado">Calendario de Feriados</button>
    <button mat-menu-item routerLink="/pages/refcategorialicencia">Categoria Licencia</button>
    <button mat-menu-item routerLink="/pages/departamento">Departamentos</button>
    <button mat-menu-item routerLink="/pages/refentidadotorgante">Entidad Otorgante</button>
    <button mat-menu-item routerLink="/pages/refestadocivil">Estados Civiles</button>
    <button mat-menu-item routerLink="/pages/localidad">Localidades</button>
    <button mat-menu-item routerLink="/pages/refpaisnacionalidad">Pais-Nacionalidad</button>
    <button mat-menu-item routerLink="/pages/provincia">Provincias</button>
    <button mat-menu-item routerLink="/pages/refregimenlaboral">Regímenes Laborales</button>
    <button mat-menu-item routerLink="/pages/refregimensalarial">Regímenes Salariales</button>
    <button mat-menu-item routerLink="/pages/refsituacionrevista">Situaciones de Revista</button>
    <button mat-menu-item routerLink="/pages/refsumarioalcance">Sumarios Alcances</button>
    <button mat-menu-item routerLink="/pages/refsumarioetapa">Sumarios Etapas</button>
    <button mat-menu-item routerLink="/pages/refsumariosancion">Sumarios Sanciones</button>
    <button mat-menu-item routerLink="/pages/reftipodescanso">Tipos de Descansos</button>
    <button mat-menu-item routerLink="/pages/reftipodictamen">Tipos de Dictamenes</button>
    <button mat-menu-item routerLink="/pages/reftipodocumento">Tipos de Documento</button>
    <button mat-menu-item routerLink="/pages/reftipogocehaber">Tipos de Goces de Haberes</button>
    <button mat-menu-item routerLink="/pages/reftipoinasistencia">Tipos de Inasistencias</button>
    <button mat-menu-item routerLink="/pages/reftipojuridiccion">Tipos de Jurisdicciones</button>
    <button mat-menu-item routerLink="/pages/reftipomovimiento">Tipos de Movimientos</button>
    <button mat-menu-item routerLink="/pages/reftiponovedad">Tipos de Novedades</button>
    <button mat-menu-item routerLink="/pages/refsexo">Tipos de Sexo</button>
    <button mat-menu-item routerLink="/pages/reftiposituacionextraordinaria">Tipos de Situaciones Extraordinarias</button>
    <button mat-menu-item routerLink="/pages/reftiposumario">Tipos de Sumarios</button>
    <button mat-menu-item routerLink="/pages/reftitulo">Títulos</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="configuracion">CONFIGURACIÓN</button>
  <mat-menu #configuracion="matMenu">
    <button mat-menu-item routerLink="/pages/refdiasemana">Dias Semana</button>
    <button mat-menu-item routerLink="/pages/refestadosolicitud">Estados de Solicitud</button>
    <button mat-menu-item routerLink="/pages/refestadosolicitudlegajo">Estados Solicitud Legajo</button>
    <button mat-menu-item routerLink="/pages/refmes">Meses</button>
    <button mat-menu-item routerLink="/pages/refmodalidaddias">Modalidad Dias</button>
    <button mat-menu-item routerLink="/pages/reftiposolicitud">Tipos de Solicitud</button>
    <button mat-menu-item routerLink="/pages/refunidadtemporal">Unidades Temporales</button>
    <button mat-menu-item routerLink="/pages/refunidadtempcontexto">Unidades Temporales de Contexto</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="instrumentolegal">INSTRUMENTOS LEGALES</button>
  <mat-menu #instrumentolegal="matMenu">
    <button mat-menu-item routerLink="/pages/reftipoinstrumentolegal">Tipos de Instrumentos Legales</button>
    <button mat-menu-item routerLink="/pages/reftipoefectoinstlegal">Tipos Efecto de Inst. Legal</button>
  </mat-menu>

  <button mat-icon-button class="example-icon favorite-icon" [routerLink]="'/home'"  aria-label="Example icon-button with heart icon">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" [routerLink]="'/salaries'" aria-label="Example icon-button with share icon">
    <mat-icon>account_balance_wallet</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with menu icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>