<div [@stagger]="true" class="p-gutter">
    <div class="flex flex-col gap-4">
        <div @fadeInUp class="card flex-auto">
            <div class="px-6 py-4 flex flex-col">
                <div>
                    <router-outlet></router-outlet>
                    <vex-encabezado-cooperadora></vex-encabezado-cooperadora>
                    <br>
                </div>
                <div>
                    <mat-tab-group>
                        <mat-tab label="AUTORIDADES">
                            <vex-autoridad-list></vex-autoridad-list>
                        </mat-tab>
                        <mat-tab label="EXPEDIENTE">
                            <!-- <vex-datosplaza-list></vex-datosplaza-list> -->
                        </mat-tab>
                        <mat-tab label="PERSONERÍA">
                            <!-- <vex-datosplaza-list></vex-datosplaza-list> -->
                        </mat-tab>
                        <mat-tab label="BALANCE">
                            <!-- <vex-datosplaza-list></vex-datosplaza-list> -->
                        </mat-tab>
                        <mat-tab label="FONDOS">
                            <!-- <vex-datosplaza-list></vex-datosplaza-list> -->
                        </mat-tab>
                        <mat-tab label="KIOSKO">
                            <!-- <vex-datosplaza-list></vex-datosplaza-list> -->
                        </mat-tab>
                        <mat-tab label="ATENCIÓN Y SEGUIMIENTOS">
                            <!-- <vex-datosplaza-list></vex-datosplaza-list> -->
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>