<div class="w-full h-full bg-pattern flex flex-col items-center justify-center backimg">
  <div class="content">
  <div class="card overflow-hidden w-full max-w-xs overlay-content">
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-50" src="assets/img/logo-ruce/logo_educacion1.png">
      </div>
    </div>

    <div class="text-center mt-4">
      <h4 class="body-2 text-secondary m-0">Secretaría de Equidad Educativa</h4>
      <h4 class="body-2 text-secondary m-0">Dirección de Bienestar Estudiantil y Docente</h4>
      <h4 class="body-2 text-secondary m-0">Programa Cooperadoras Escolares</h4>
      <h2 class="title mt-2">REGISTRO ÚNICO DE COOPERADORAS ESCOLARES (RUCE)</h2>
    </div>

    <div [formGroup]="form" class="p-6 flex flex-col gap-4">
      <div class="flex flex-col">
        <mat-form-field class="flex-1">
          <mat-label>Nombre de usuario</mat-label>
          <input formControlName="username" matInput required #usernameInput>
          <mat-error *ngIf="form.get('username').hasError('required')">Se necesita un nombre de usuario para iniciar sesión</mat-error>
        </mat-form-field>
        <mat-form-field class="flex-1">
          <mat-label>Contraseña</mat-label>
          <input [type]="inputType" formControlName="password" matInput required #passwordInput>
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Ver/Ocultar contraseña" type="button">
            <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
            <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
          </button>
          <!-- <mat-hint>Haga clic en el ojo para alternar la visibilidad</mat-hint> -->
          <mat-error *ngIf="form.get('password').hasError('required')">Se necesita una contraseña para iniciar sesión</mat-error>
        </mat-form-field>
      </div>

      <!-- <div class="flex items-center justify-between">
        <mat-checkbox class="caption" color="primary" formControlName="remember_me">Guardar datos de sesion</mat-checkbox>
        <a [routerLink]="['/login']" class="caption">¿Olvidaste tu contraseña?</a>
      </div> -->

      <button (click)="send()" color="primary" mat-raised-button type="button">
        INICIAR SESION
      </button>

      <!-- <p class="text-secondary text-center">
        ¿No tienes datos de ingreso?<br/>
        <a [routerLink]="['/login']">Comunicate con el administrador</a>
      </p> -->
    </div>
  </div>
</div>
</div>
