<vex-aio-table [columns]="columnas" [sourceService]="autoridadOrganizacionRUCE" [filter]="filtro" [ruta]="'autoridadesorganizacionruce'" [nombreTabla]="'Autoridades del Establecimiento Educativo'">      
    <app-input-search espacio1></app-input-search>
    <app-search-button-generic espacio2 [searchOptions]="searchOptions"></app-search-button-generic>       
    <app-button-nuevo bordederecho [routerLink]="'autoridadesorganizacionruce'" [addRowText]="'Agregar Autoridad'"></app-button-nuevo>
</vex-aio-table>
