<vex-secondary-toolbar current="Detalle de Cooperadora">
    <vex-breadcrumbs [crumbs]="['Ámbitos', 'Nuevo']" class="flex-auto"></vex-breadcrumbs>
    <vex-breadcrumbs *ngIf="accion==='add'" [crumbs]="['Cooperadora', 'Nuevo']" class="flex-auto"></vex-breadcrumbs>
    <vex-breadcrumbs *ngIf="accion==='edit'" [crumbs]="['Cooperadora', 'Modificar']" class="flex-auto"></vex-breadcrumbs>
    <vex-breadcrumbs *ngIf="accion==='delete'" [crumbs]="['Cooperadora', 'Eliminar']" class="flex-auto"></vex-breadcrumbs>
    <button class="ml-2" color="primary" mat-icon-button type="button">
        <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>
</vex-secondary-toolbar>
<div [@stagger]="true" class="p-gutter container">
    <form autocomplete="off" [formGroup]="formularioCooperadora" (ngSubmit)="save()">
    <div class="flex flex-col sm:flex-row gap-4">
        <div @fadeInUp class="card flex-auto">
            <div class="px-6 py-4 border-b flex items-center">
                <h2 class="title m-0">Formulario</h2>
                <h2 class="title m-0" *ngIf="accion==='add'">Formulario Alta de Cooperadora</h2>
                <h2 class="title m-0" *ngIf="accion==='edit'">Formulario Modificación de Cooperadora</h2>
                <h2 class="title m-0" *ngIf="accion==='delete'">Formulario Eliminación de Cooperadora</h2>
            </div>

            <div class="px-6 py-4 flex flex-col">
                
                <mat-form-field>
                    <mat-label>Legajo</mat-label>
                    <input matInput formControlName="legajo" type="text" mayus espacios>
                    <mat-error>
                        <app-ver-error [control]="this.formularioCooperadora.controls['legajo']">
                        </app-ver-error>
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Denominacion</mat-label>
                    <input matInput formControlName="denominacion" type="text" mayus espacios>
                    <mat-error>
                        <app-ver-error [control]="this.formularioCooperadora.controls['denominacion']">
                        </app-ver-error>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>
                        Estado</mat-label>
                    <mat-select formControlName="estado">
                        <mat-option>Seleccione</mat-option>
                        <mat-option [value]="-1">Rojo</mat-option>
                        <mat-option [value]="0">Amarillo</mat-option>
                        <mat-option [value]="1">Verde</mat-option>
                    </mat-select>
                    <mat-error>
                        <app-ver-error [control]="this.formularioCooperadora.controls['estado']"></app-ver-error>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Convenio Sc Economicas</mat-label>
                    <input matInput formControlName="estado" type="boolean">
                    <mat-error>
                        <app-ver-error [control]="this.formularioCooperadora.controls['convenioScEconomicas']"></app-ver-error>
                    </mat-error>
                </mat-form-field>
                <!-- 
                <mat-form-field>
                    <mat-label>Inscripcion Afip</mat-label>
                    <mat-slide-toggle color="primary" formControlName="inscripcion_afip" [checked]="false"></mat-slide-toggle>
                    <mat-error>
                        <app-ver-error [control]="this.formularioCooperadora.controls['inscripcion_afip']"></app-ver-error>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Inscripcion Rentas</mat-label>
                    <mat-slide-toggle color="primary" formControlName="inscripcion_rentas" [checked]="false"></mat-slide-toggle>
                    <mat-error>
                        <app-ver-error [control]="this.formularioCooperadora.controls['inscripcion_rentas']"></app-ver-error>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Inscripcion Renacopes</mat-label>
                    <mat-slide-toggle color="primary" formControlName="inscripcion_rentas" [checked]="false"></mat-slide-toggle>
                    <mat-error>
                        <app-ver-error [control]="this.formularioCooperadora.controls['inscripcion_renacopes']"></app-ver-error>
                    </mat-error>
                </mat-form-field> -->

                <mat-form-field>
                    <mat-label>Organizaciones</mat-label>
                    <input matInput formControlName="organismoPadre" readonly="true" type="text" maxlength="250" mayus
                        espacios>
                    <button mat-icon-button matTooltip="Búsqueda" color="primary"
                        Style="font-size:28px; position: absolute; right: 2rem; bottom: 0.01rem;"
                        (click)="openDialogSingle(organizacionService,'organizacionDesc','Organizacion','Organización')">
                        <mat-icon svgIcon="mat:search"></mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Eliminar" color="primary" type="button"
                        (click)="eliminarOrgPadre()"
                        Style="font-size:28px; position: absolute; right: 0.1rem; bottom: 0.01rem;">
                        <mat-icon svgIcon="mat:clear"></mat-icon>
                    </button>
                    <!-- <mat-select formControlName="organizacion_ruce">
                        <mat-option>Seleccione</mat-option>
                        <mat-option *ngFor="let item of organizaciones" [value]="item">{{item.cue}} - {{item.organizacionDesc}} </mat-option>
                    </mat-select> -->
                    <mat-error>
                        <app-ver-error [control]="this.formularioCooperadora.controls['organizacion_ruce']"></app-ver-error>
                    </mat-error>
                </mat-form-field>

                <div class="flex items-center justify-end gap-2">                
                    <app-button-group (cancel)="cancel()" (delete)="eliminar()" (submit)="save()" [accion]="accion"></app-button-group>
                </div>
            </div>
        </div>
    </div>
</form>
</div>