<vex-page-layout>
    <div>
        <div class="card flex-auto">
  
            <vex-aio-table [columns]="columnasVex" [sourceService]="instanciaInstrumentoService" [filter]="filtro" [ruta]="'instancia-instrumento'" [nombreTabla]="'Instancias Instrumento'" [view]="false">
              <app-input-search espacio1></app-input-search>
  
              <app-search-button-generic espacio2 [searchOptions]="searchOptions"></app-search-button-generic>
  
              <app-button-nuevo bordederecho [routerLink]="'instancia-instrumento'" [addRowText]="'Agregar Instancia'"></app-button-nuevo>
            </vex-aio-table>
          </div>
        </div>
  </vex-page-layout>