<vex-page-layout>
  <div>
    <div class="card flex-auto">
      <vex-aio-table
        [columns]="columnasVex"
        [sourceService]="reporteService"
        [filter]="filtro"
        [ruta]="'reportes'"
        [nombreTabla]="'Lista de Reportes'"
        [view]="false"
      >
        <app-input-search espacio1></app-input-search>
        <app-search-button-generic
          espacio2
          [searchOptions]="searchOptions"
        ></app-search-button-generic>

        <div bordederecho class="m-5 flex justify-center">
  
          <div class="relative flex items-center cursor-pointer select-none rounded-full px-4 py-2 hover:bg-green-light trans-ease-out"
               matRipple
               [routerLink]="'/pages/inicio'">
            <div @scaleIn class="p-2 bg-green-light text-green rounded-full ltr:mr-4 rtl:ml-4">
              <mat-icon class="block" svgIcon="mat:assessment"></mat-icon>
            </div>
            <p @fadeInRight class="font-medium text-green">Excel</p>
          </div>
        </div>
      </vex-aio-table>
    </div>
  </div>
</vex-page-layout>
