<vex-secondary-toolbar current="Detalle de Comision">
    <vex-breadcrumbs *ngIf="accion==='add'" [crumbs]="['Comisión', 'Nuevo']" class="flex-auto"></vex-breadcrumbs>
    <vex-breadcrumbs *ngIf="accion==='edit'" [crumbs]="['Comisión', 'Modificar']" class="flex-auto"></vex-breadcrumbs>
    <vex-breadcrumbs *ngIf="accion==='delete'" [crumbs]="['Comisión', 'Eliminar']" class="flex-auto"></vex-breadcrumbs>
    <button class="ml-2" color="primary" mat-icon-button type="button">
        <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>
</vex-secondary-toolbar>
<div class="p-gutter container">
    <div class="flex flex-col sm:flex-row gap-4">
        <div class="card flex-auto">
    <div class="px-6 py-4 border-b flex items-center justify-center">
        <h2 class="title m-0" *ngIf="accion==='add'">Formulario Alta de Comisión</h2>
        <h2 class="title m-0" *ngIf="accion==='edit'">Formulario Modificación de Comisión</h2>
        <h2 class="title m-0" *ngIf="accion==='delete'">Formulario Eliminación de Comisión</h2>
    </div>
    <div class="px-6 py-4 flex flex-col">
    <form autocomplete="off" [formGroup]="formularioComision"> <!-- (ngSubmit)="save()" -->
        <div class="formuario">
            <div class="flex flex-col  md:flex-row gap-3">
                <mat-form-field style="width: 100%">
                    <mat-label>Tipo Comisión</mat-label>
                    <mat-select formControlName="fkRefTipoComision">
                        <mat-option>Seleccione</mat-option>
                        <mat-option *ngFor="let item of tipoComision" [value]="item?.id">{{item?.tipoComisionDesc}}</mat-option>
                    </mat-select>
                    <mat-error>
                        <app-ver-error [control]="this.formularioComision.controls['fkRefTipoComision']"></app-ver-error>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Inicio Periodo</mat-label>
                    <input matInput formControlName="periodoInicio" type="date" mayus espacios>
                    <mat-error>
                        <app-ver-error [control]="this.formularioComision.controls['periodoInicio']">
                        </app-ver-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Fin Periodo</mat-label>
                    <input matInput formControlName="periodoFin" type="date" mayus espacios>
                    <mat-error>
                        <app-ver-error [control]="this.formularioComision.controls['periodoFin']">
                        </app-ver-error>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Cantidad de Socios</mat-label>
                    <input matInput formControlName="nroSocios" type="text" solonum espacios>
                    <mat-error>
                        <app-ver-error [control]="this.formularioComision.controls['nroSocios']">
                        </app-ver-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="estadoResolucion">
                        <mat-option>Seleccione</mat-option>
                        <mat-option [value]="'VIGENTE'">VIGENTE</mat-option>
                        <mat-option [value]="'ACEFALA'">ACEFALA</mat-option>
                        <mat-option [value]="'CON RESOLUCION'">CON RESOLUCION</mat-option>
                    </mat-select>
                    <mat-error>
                        <app-ver-error [control]="this.formularioComision.controls['estadoResolucion']"></app-ver-error>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="flex flex-col md:flex-row gap-3">

            </div>
            
            <br>                
                <app-button-group type="button" (cancel)="cancel()" (delete)="eliminar()" (click)="save()" [accion]="accion"></app-button-group>
            
        </div>
    </form>
</div>
</div>
</div>
</div>
