<vex-page-layout>
  <div class="card flex-auto">
    <vex-aio-table
      [columns]="columnasVex"
      [sourceService]="autoridadService"
      [filter]="filtro"
      [ruta]="'establecimientos/' + idOrganizacion + '/autoridades'"
      [nombreTabla]="'Autoridades'"
      [cabecera]="false"
      [view]="false"
    >
      <app-input-search espacio1></app-input-search>

      <app-search-button-generic
        espacio2
        [searchOptions]="searchOptions"
      ></app-search-button-generic>

      <app-button-nuevo
        bordederecho
        [routerLink]="'autoridad-establecimieto'"
        [addRowText]="'Agregar Autoridad'"
      ></app-button-nuevo>
    </vex-aio-table>
  </div>
</vex-page-layout>
