<vex-page-layout>
  <div class="card flex-auto">

    <div *ngIf="idExpediente !== 0" class="mt-5 vex-button-group flex items-center justify-center">
      <button
      [routerLink]="'/pages/expediente/add-edit/'+idCooperadora"
      mat-raised-button 
      class="vex-button m-4 vex-lg" color="primary">   Actualizar   </button>
      <button [routerLink]="'/pages/expediente/delete/'+idCooperadora"
      mat-raised-button class="vex-button m-4 vex-lg"  color="warn">Eliminar</button>
    </div>

    <!-- <button
      *ngIf="idExpediente !== 0"
      [routerLink]="'/pages/expediente/add-edit/' + idCooperadora"
      mat-raised-button
      class="vex-button m-4 vex-lg"
      color="primary"
    >
      Modificar
    </button> -->
    <vex-aio-table
      [busqueda]="idExpediente===0?false:undefined"
      [columns]="columnasVex"
      [sourceService]="auditService"
      [filter]="filtro"
      [ruta]="'expediente'"
      [nombreTabla]="'Movimientos Expediente'"
      [cabecera]="false"
      [view]="false"
    >
      <app-input-search espacio1></app-input-search>

      <app-search-button-generic
        espacio2
        [searchOptions]="searchOptions"
      ></app-search-button-generic>
      <app-button-nuevo
        *ngIf="idExpediente === 0"
        bordederecho
        [routerLink]="'expediente'"
        [addRowText]="'Agregar Expediente'"
      ></app-button-nuevo>
    </vex-aio-table>
  </div>
</vex-page-layout>
