<vex-page-layout>
  <div class="card">
    <div class="card flex-auto">
      <vex-aio-table
        [columns]="columnasVex"
        [sourceService]="autoridadService"
        [filter]="filtro"
        [ruta]="'autoridad-comision'"
        [nombreTabla]="'Autoridad de la comisión'"
        [cabecera]="false"
        [view]="false"
      >
        <app-input-search espacio1></app-input-search>

        <app-search-button-generic
          espacio2
          [searchOptions]="searchOptions"
        ></app-search-button-generic>

        <app-button-nuevo
          bordederecho
          [routerLink]="'autoridad-comision'"
          [addRowText]="'Agregar Autoridad'"
        ></app-button-nuevo>
      </vex-aio-table>
    </div>
  </div>
</vex-page-layout>
