
<!-- <div class="bg-foreground rounded-full border px-4 max-w-[300px] flex-auto flex items-center border border-gray-300 "> -->
<div class="bg-foreground rounded-full border px-4 h-9 w-full flex items-center border border-gray-300 ">
    <mat-icon class="icon-sm text-secondary" svgIcon="mat:search"></mat-icon>
    <input matInput class="px-4 py-2 border-0 outline-none w-full bg-transparent "
        placeholder="Buscar..."
        type="search"
        id="textoBusqueda"
        name="textoBusqueda" (keyup.enter)="botonClic(textoBusqueda.value)" #textoBusqueda>
    <button mat-button mat-icon-button matSuffix matTooltip="Buscar" color="primary" (click)="botonClic(textoBusqueda.value)">
        <mat-icon svgIcon="mat:search"></mat-icon>
    </button>
</div>
