<vex-page-layout>
    <div>
        <div class="card flex-auto">
  
            <vex-aio-table [columns]="columnasVex" [sourceService]="tipoComisionService" [filter]="filtro" [ruta]="'tipo-comision'" [nombreTabla]="'Tipos de Comision'" [view]="false">
              <app-input-search espacio1></app-input-search>
  
              <app-search-button-generic espacio2 [searchOptions]="searchOptions"></app-search-button-generic>
  
              <app-button-nuevo bordederecho [routerLink]="'tipo-comision'" [addRowText]="'Agregar Tipo de Comision'"></app-button-nuevo>
            </vex-aio-table>
          </div>
        </div>
  </vex-page-layout>