<vex-secondary-toolbar current="Tabs">
    <vex-breadcrumbs [crumbs]="['Tabs']" class="flex-auto"></vex-breadcrumbs>
  
  </vex-secondary-toolbar>

<vex-page-layout>
    <vex-page-layout-header class="h-6"></vex-page-layout-header>
    <vex-page-layout-content class="container">
        <mat-tab-group>
            <mat-tab label="Tab 1">
                <h1>TITULO TAB 1</h1>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum suscipit, totam dicta blanditiis, repellat quibusdam, culpa quis sapiente nobis eum optio consectetur pariatur magnam sit excepturi expedita aliquid mollitia iure?                    
                </p>
            </mat-tab>
            <mat-tab label="Tab 2">
                <h1>TITULO TAB 2</h1>
                <p>
                    TABBBB 2
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, officia minima magni natus mollitia necessitatibus non laborum repellat optio deserunt recusandae atque? Aut tempore ducimus tempora. Voluptatem aliquam dolore eius?
                </p>
            </mat-tab>
        </mat-tab-group>
    </vex-page-layout-content>
</vex-page-layout>