<div class="container p-gutter">
    <div class="flex flex-col gap-4">
        <div class="card flex-auto">
                <div>
                    <vex-encabezado-organizacionruce></vex-encabezado-organizacionruce>
                    <br>
                </div>
                <div>
                    <mat-tab-group>
                        <mat-tab label="AUTORIDADES">
                           <vex-autoridad-organizacionRUCE [idOrganizacion]="id"></vex-autoridad-organizacionRUCE>
                        </mat-tab>
                        <mat-tab label="MATRICULA">
                            <vex-matricula-list [idOrganizacion]="id"></vex-matricula-list>
                        </mat-tab>
                        <mat-tab label="COOPERADORA">
                            <vex-encabezado-cooperadora></vex-encabezado-cooperadora>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
    </div>
</div>